

root { 
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 0;
}
#contenido {
    width: 450px;
    margin: 0 auto;
    padding: 15px;
    background: white;
    
}
h1, h2, h3 {
    color: navy;
}
label {
    width: 10em;
    padding-right: 1em;
    float: left;
}
#datos input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}
#botones input {
    float: left;
    margin-bottom: .5em;
}
br {
    clear: left;
}
#resultado {
    border: 1px solid green;
    padding: 10px;
}
.error {
    color: crimson;
    font-size: small;
}